1. Import the necessary libraries

In [3]:
import numpy as np

import pandas as pd

2. Import the dataset chipotle.tsv

In [4]:
chipo = pd.read_csv("chipotle.tsv", sep="\t")

3. Assign it to a variable called chipo

4. See the first 10 entries

In [5]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

5. What is the number of observations in the dataset?

In [6]:
chipo.shape

(4622, 5)

In [7]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

6. What is the number of columns in the dataset?

5

7. Print the name of all the columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

8. How is the dataset indexed?

RangeIndex(start=0, stop=4622, step=1)

In [23]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [24]:
chipo.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [27]:
chipo.describe(include="object")

           item_name choice_description item_price
count           4622               3376       4622
unique            50               1043         78
top     Chicken Bowl        [Diet Coke]     $8.75
freq             726                134        730

9. Which was the most-ordered item?

In [37]:
most_order = chipo[['item_name', 'order_id', 'quantity']].groupby("item_name").sum()

In [36]:
most_order.sort_values("quantity", ascending=False).head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

11. What was the most ordered item in the choice_description column?

In [22]:
swap = chipo[['item_name', 'order_id', 'quantity']].groupby("item_name").sum()

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [22]:
most_order2

                                                    order_id  quantity
choice_description
[Adobo-Marinated and Grilled Chicken, Pinto Bea...       214         1
[Adobo-Marinated and Grilled Chicken, [Sour Cre...       279         1
[Adobo-Marinated and Grilled Chicken]                    217         1
[Adobo-Marinated and Grilled Steak, [Sour Cream...       279         1
[Adobo-Marinated and Grilled Steak]                      217         1
...                                                      ...       ...
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...      2576         2
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...      1215         1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...        51         1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...        51         1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...      1299         1

[1043 rows x 2 columns]

12. How many items were orderd in total?

In [38]:
chipo["quantity"].sum()

4972

13. Turn the item price into a float

a. Check the item price type

dtype('O')

b. Create a lambda function and change the type of item price

In [39]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [42]:
chipo['item_price']

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

c. Check the item price type

dtype('float64')

14. How much was the revenue for the period in the dataset?

In [33]:
revenue

39237.02

15. How many orders were made in the period?

In [8]:
chipo['order_id'].nunique()

1834

In [9]:
chipo['order_id'].nunique()

1834

In [11]:
chipo['order_id'].value_counts()

order_id
926     23
1483    14
205     12
759     11
1786    11
        ..
768      1
341      1
1048     1
94       1
1199     1
Name: count, Length: 1834, dtype: int64

In [12]:
chipo[chipo['order_id']==926]

,order_id,quantity,item_name,choice_description,item_price
2304,926,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Lettuce]]",$9.25
2305,926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
2306,926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
2307,926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
2308,926,1,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Lettu...",$9.25
2309,926,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
2310,926,1,Steak Burrito,"[Roasted Chili Corn Salsa, [Rice, Cheese, Sour...",$9.25
2311,926,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
2312,926,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Lettuce]]",$8.75
2313,926,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream...",$8.75
2314,926,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream]]",$8.75
2315,926,1,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$9.25
2316,926,1,Chicken Burrito,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
2317,926,1,Steak Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$9.25
2318,926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
2319,926,1,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Cheese]]",$9.25
2320,926,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Cheese, Lettuce]]",$8.75
2321,926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Pinto Beans,...",$8.75
2322,926,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Cheese]]",$8.75
2323,926,1,Barbacoa Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$9.25
2324,926,1,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Rice, Cheese, Sou...",$8.75
2325,926,1,Steak Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$9.25
2326,926,1,Veggie Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75

In [13]:
chipo['order_id'].value_counts().count()

1834

In [20]:
chipo['revenue']

KeyError: 'revenue'

16. What is the average revenue amount per order?

In [21]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [22]:
aver = chipo.groupby(['order_id'])['revenue'].sum()

avg = average.mean()
print(avg)

KeyError: 'Column not found: revenue'

In [56]:
chipo

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

In [40]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96

quantity       2.711014
item_price    18.811429
revenue       21.394231
dtype: float64

21.394231188658654

17. How many different items are sold?

In [24]:
num_unique_items = chipo['item_name'].nunique()
print(num_unique_items)

50

50

18. How many products cost more than $10.00?

In [31]:
if chipo['item_price'].dtype == 'object':
    chipo['item_price'] = chipo['item_price'].str.replace('$', '').astype(float)

expensive_items = chipo[chipo['item_price'] > 10.00]

num_expensive_products = expensive_items['item_name'].nunique()
num_expensive_products

31

31

19. What is the price of each item?

In [30]:
chipo['item_price'] = chipo['item_price'].str.replace('$', '').astype(float)
for item in chipo['item_name'].unique():
    item_rows = chipo[chipo['item_name'] == item]
    most_common_price = item_rows['item_price'].mode()[0]
    print(f"{item}\t{most_common_price:.2f}")

Chips and Fresh Tomato Salsa	2.95
Izze	3.39
Nantucket Nectar	3.39
Chips and Tomatillo-Green Chili Salsa	2.39
Chicken Bowl	8.75
Side of Chips	1.69
Steak Burrito	8.99
Steak Soft Tacos	9.25
Chips and Guacamole	4.45
Chicken Crispy Tacos	8.75
Chicken Soft Tacos	8.75
Chicken Burrito	8.75
Canned Soda	1.09
Barbacoa Burrito	9.25
Carnitas Burrito	9.25
Carnitas Bowl	9.25
Bottled Water	1.50
Chips and Tomatillo Green Chili Salsa	2.95
Barbacoa Bowl	9.25
Chips	2.15
Chicken Salad Bowl	8.75
Steak Bowl	11.75
Barbacoa Soft Tacos	9.25
Veggie Burrito	8.49
Veggie Bowl	11.25
Steak Crispy Tacos	9.25
Chips and Tomatillo Red Chili Salsa	2.95
Barbacoa Crispy Tacos	9.25
Veggie Salad Bowl	11.25
Chips and Roasted Chili-Corn Salsa	2.39
Chips and Roasted Chili Corn Salsa	2.95
Carnitas Soft Tacos	9.25
Chicken Salad	8.49
Canned Soft Drink	1.25
Steak Salad Bowl	11.89
6 Pack Soft Drink	6.49
Chips and Tomatillo-Red Chili Salsa	2.39
Bowl	7.40
Burrito	7.40
Crispy Tacos	7.40
Carnitas Crispy Tacos	8.99
Steak Salad	8.99
Chips and Mild Fresh Tomato Salsa	3.00
Veggie Soft Tacos	8.49
Carnitas Salad Bowl	11.89
Barbacoa Salad Bowl	9.39
Salad	7.40
Veggie Crispy Tacos	8.49
Veggie Salad	8.49
Carnitas Salad	8.99

(50, 1)

                                       item_price
item_name
6 Pack Soft Drink                           12.98
Barbacoa Bowl                               11.75
Barbacoa Burrito                            11.75
Barbacoa Crispy Tacos                       18.50
Barbacoa Salad Bowl                         11.89
Barbacoa Soft Tacos                         11.75
Bottled Water                               15.00
Bowl                                        22.20
Burrito                                      7.40
Canned Soda                                  4.36
Canned Soft Drink                            5.00
Carnitas Bowl                               35.25
Carnitas Burrito                            18.50
Carnitas Crispy Tacos                       17.98
Carnitas Salad                               8.99
Carnitas Salad Bowl                         11.89
Carnitas Soft Tacos                         11.75
Chicken Bowl                                32.94
Chicken Burrito                             35.00
Chicken Crispy Tacos                        17.50
Chicken Salad                               10.98
Chicken Salad Bowl                          22.50
Chicken Soft Tacos                          21.96
Chips                                        6.45
Chips and Fresh Tomato Salsa                44.25
Chips and Guacamole                         17.80
Chips and Mild Fresh Tomato Salsa            3.00
Chips and Roasted Chili Corn Salsa           5.90
Chips and Roasted Chili-Corn Salsa           2.39
Chips and Tomatillo Green Chili Salsa        5.90
Chips and Tomatillo Red Chili Salsa          5.90
Chips and Tomatillo-Green Chili Salsa        4.78
Chips and Tomatillo-Red Chili Salsa          7.17
Crispy Tacos                                 7.40
Izze                                         3.39
Nantucket Nectar                             6.78
Salad                                        7.40
Side of Chips                               13.52
Steak Bowl                                  26.07
Steak Burrito                               27.75
Steak Crispy Tacos                          17.98
Steak Salad                                  8.99
Steak Salad Bowl                            23.78
Steak Soft Tacos                            18.50
Veggie Bowl                                 16.98
Veggie Burrito                              33.75
Veggie Crispy Tacos                          8.49
Veggie Salad                                 8.49
Veggie Salad Bowl                           11.25
Veggie Soft Tacos                           16.98

20. Sort by the name of the item

In [33]:
if chipo['item_price'].dtype == 'object':
    chipo['item_price'] = chipo['item_price'].str.replace('$', '').astype(float)

unique_items = sorted(chipo['item_name'].unique())

for item in unique_items:
    rows = chipo[chipo['item_name'] == item]
    most_common_price = rows['item_price'].mode()[0]
    print(f"{item}\t{most_common_price:.2f}")

6 Pack Soft Drink	6.49
Barbacoa Bowl	9.25
Barbacoa Burrito	9.25
Barbacoa Crispy Tacos	9.25
Barbacoa Salad Bowl	9.39
Barbacoa Soft Tacos	9.25
Bottled Water	1.50
Bowl	7.40
Burrito	7.40
Canned Soda	1.09
Canned Soft Drink	1.25
Carnitas Bowl	9.25
Carnitas Burrito	9.25
Carnitas Crispy Tacos	8.99
Carnitas Salad	8.99
Carnitas Salad Bowl	11.89
Carnitas Soft Tacos	9.25
Chicken Bowl	8.75
Chicken Burrito	8.75
Chicken Crispy Tacos	8.75
Chicken Salad	8.49
Chicken Salad Bowl	8.75
Chicken Soft Tacos	8.75
Chips	2.15
Chips and Fresh Tomato Salsa	2.95
Chips and Guacamole	4.45
Chips and Mild Fresh Tomato Salsa	3.00
Chips and Roasted Chili Corn Salsa	2.95
Chips and Roasted Chili-Corn Salsa	2.39
Chips and Tomatillo Green Chili Salsa	2.95
Chips and Tomatillo Red Chili Salsa	2.95
Chips and Tomatillo-Green Chili Salsa	2.39
Chips and Tomatillo-Red Chili Salsa	2.39
Crispy Tacos	7.40
Izze	3.39
Nantucket Nectar	3.39
Salad	7.40
Side of Chips	1.69
Steak Bowl	11.75
Steak Burrito	8.99
Steak Crispy Tacos	9.25
Steak Salad	8.99
Steak Salad Bowl	11.89
Steak Soft Tacos	9.25
Veggie Bowl	11.25
Veggie Burrito	8.49
Veggie Crispy Tacos	8.49
Veggie Salad	8.49
Veggie Salad Bowl	11.25
Veggie Soft Tacos	8.49

21. What was the quantity of the most expensive item ordered?

,order_id,quantity,item_name,choice_description,item_price,revenue
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25,663.75

22. How many times was a Veggie Salad Bowl ordered?

In [39]:
len(chipo['item_name'] == 'Veggie Salad Bowl')

4622

23. How many times did someone order more than one Canned Soda?

order_id              20
quantity              20
item_name             20
choice_description    20
item_price            20
revenue               20
dtype: int64